.DS_Store
*.DS_Store
node_modules
Thumbs.db
.idea
dist
*.tgz
src/packages

# Testing tools and outputs
/tests/reports/
/tests/results/
/tests/fixtures/dist/
/playwright/.cache/
/playwright-report/
/coverage
.nyc_output
report.json
